
.contact__container{
    display: grid;
    place-items: center;
}

.contact__wrapper{
    width: fit-content;
    gap: 2rem;
    display: flex;
}

.contact__wrapper a{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 1.5rem;
    font-size: 2rem;
    transition: var(--transition);
    border: 2px solid transparent;
}

.contact__wrapper a:hover{
    background: transparent;
    border-color:var(--color-gray-100);
}


/* Media queries for small Screen */

@media screen and (max-width:600px) {

    .contact__wrapper{
        gap: 1.5rem;
    }
    .contact__wrapper a{
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
    }
}